<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/bootstrap.min.css}">
    <!-- Style -->
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/style.css}">

    <link rel="shortcut icon" th:href="@{/resources/images/logo.png}" type="image/png">
    <title>Update account</title>
</head>

<body>
<div class="content">

    <div class="container">
        <div class="container">
            <div class="container">
                <div class="row">
                    <div class="col-sm">
                        <form action="/auth/logout" method="POST">
                            <button type="submit">Logout</button>
                        </form>
                    </div>
                    <div class="col-sm">
                        <form>
                            <input type="button" value="Go back!" onclick="history.back()" class="right">
                        </form>
                    </div>
                </div>
            </div>

            <h2>Update account:</h2>
            <hr>
            <br>


            <div class="custom-form col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
                <div class="card h-100">
                    <div class="card-body">

                        <form action="#" th:action="@{/account-update}" th:object="${account}" method="post"
                              class="table custom-table">

                            <div class="row gutters">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                    <h6 class="form-title mb-2 text-primary">Personal Details</h6>
                                    <label for="id"> ID:</label>
                                    <input readonly type="number" th:field="*{accountId}" id="id" size="5">
                                </div>

                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                    <div class="form-group">
                                        <label for="customer">Customer id</label>
                                        <input th:field="*{customer}" type="number" class="form-control" id="customer"
                                               placeholder="Enter customer id">
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                    <div class="form-group">
                                        <label for="balance">Balance</label>
                                        <input th:field="*{balance}" type="number" class="form-control" id="balance"
                                               placeholder="Enter balance">
                                    </div>
                                </div>

                            </div>
                            <div class="row gutters">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                    <h6 class="mt-3 mb-2 text-primary">Account details</h6>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                    <div class="form-group">
                                        <label for="status">Status</label>
                                        <select th:field="*{status}" class="form-control" id="status">
                                            <option value="ACTIVE">ACTIVE</option>
                                            <option value="DISABLED">DISABLED</option>
                                            <option value="BANNED">BANNED</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                    <div class="form-group">
                                        <label for="createdAt">Created at</label>
                                        <input th:field="*{createdAt}" type="datetime-local" class="form-control"
                                               id="createdAt">
                                    </div>
                                </div>

                                <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-4">
                                    <div class="form-group">
                                        <div th:object="${timer}">
                                            <label for="delay">Delay</label>
                                            <input th:field="*{delay}" type="number" class="form-control"
                                                   id="delay">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-4">
                                    <div class="form-group">
                                        <div th:object="${timer}">
                                            <label for="timeUnit">Time unit</label>
                                            <select th:field="*{timeUnit}" class="form-control" id="timeUnit">
                                                <option value="MILLISECOND">Millisecond</option>
                                                <option value="SECOND">Second</option>
                                                <option value="MINUTE">Minute</option>
                                                <option value="HOUR">Hour</option>
                                                <option value="DAY">Day</option>
                                                <option value="WEEK">WEEK</option>
                                                <option value="MONTH">Month</option>
                                                <option value="YEAR">Year</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-4">
                                </div>

                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                    <div class="form-group">
                                        <div th:object="${timer}">
                                            <label for="timer">Timer</label>
                                            <input th:field="*{time}" type="time" class="form-control" step="1"
                                                   id="timer">
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                    <div class="row gutters">
                                        <br><br><br><br>
                                        <div class="text-lg-center">
                                            <input type="submit" value="Update">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <script th:href="@{/resources/js/jquery-3.3.1.min.js}"></script>
    <script th:href="@{/resources/js/bootstrap.min.js}"></script>
</body>
</html>