<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/bootstrap.min.css}">
    <!-- Style -->
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/style.css}">

    <link rel="shortcut icon" th:href="@{/resources/images/logo.png}" type="image/png">
    <title>Accounts</title>
</head>

<body>
<div class="content">

    <div th:switch="${accounts}">
        <div class="container">
            <div class="container">
                <div class="container">
                    <div class="row">
                        <div class="col-sm">
                            <form action="/auth/logout" method="POST">
                                <button type="submit">Logout</button>
                            </form>
                        </div>
                        <div class="col-sm">
                            <form>
                                <input type="button" value="Go back!" onclick="history.back()" class="right">
                            </form>
                        </div>
                    </div>
                </div>

                <h2 th:case="null" class="mb-5">No accounts found!</h2>

                <div th:case="*" class="table-responsive custom-table-responsive">
                    <h2>Resource: accounts</h2>
                    <hr>
                    <br>
                    <table class="table custom-table">
                        <thead>
                        <tr>
                            <th scope="col">Id</th>
                            <th scope="col">Balance</th>
                            <th scope="col">Created at</th>
                            <th scope="col">Status</th>
                            <th scope="col">Customer</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="account : ${accounts}" scope="row">
                            <td th:text="${account.accountId}"></td>
                            <td th:text="${account.balance}"></td>
                            <td th:text="${account.createdAt}"></td>
                            <td th:text="${account.status}"></td>
                            <td th:text="${account.customer.customerId}"></td>
                            <td><a th:href="@{account-update/{id}(id=${account.accountId})}">Edit</a></td>
                            <td><a th:href="@{account-delete/{id}(id=${account.accountId})}">Delete</a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <br>
                <p><a href="/account-create" class="glow">Create new</a></p>


            </div>
        </div>

    </div>


    <script th:href="@{/resources/js/jquery-3.3.1.min.js}"></script>
    <script th:href="@{/resources/js/bootstrap.min.js}"></script>
</body>
</html>