<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Table: customers</title>
</head>
<body>
<div th:switch="${customers}">
    <h2 th:case="null">No customers found!</h2>
    <div th:case="*">
        <h2>Customers</h2>
        <table>
            <thead>
            <tr>
                <th>Id</th>
                <th>First name</th>
                <th>Last name</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="customer : ${customers}">
                <td th:text="${customer.customerId}"></td>
                <td th:text="${customer.firstName}"></td>
                <td th:text="${customer.lastName}"></td>
                <td><a th:href="@{customer-update/{id}(id=${customer.customerId})}">Edit</a></td>
                <td><a th:href="@{customer-delete/{id}(id=${customer.customerId})}">Delete</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <p><a href="/customer-create">Create user</a></p>
</div>
</body>
</html>