<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Style -->
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/style_error.css}">

    <link rel="shortcut icon" th:href="@{/resources/images/logo.png}" type="image/png">
    <title>Error</title>
</head>

<body>

<section class="error-body">
    <video preload="auto" class="background" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/396624/err.mp4" autoplay muted loop></video>
    <div class="message">
        <h1 t="404">404</h1>
        <div class="bottom">
            <p>You have lost your way</p>
            <a href="javascript:history.back()">return home</a>
        </div>
    </div>
</section>
</body>
</html>