<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>Login</title>

    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/style_login.css}">

    <link rel="shortcut icon" th:href="@{/resources/images/logo.png}" type="image/png">
</head>
<body>

<div class="logo text-center">
    <br><h1>TESTEROSSA</h1><br>
</div>
<div class="wrapper">
    <div class="inner-warpper text-center">
        <h2 class="title">Login to your account</h2>
        <form action="/auth/login" method="post" id="formvalidate">
            <div class="input-group">
                <input class="form-control" name="username" id="username" type="email" placeholder="e-mail"/>
                <span class="lighting"></span>
            </div>
            <div class="input-group">
                <input class="form-control" name="password" id="password" type="password" placeholder="****"/>
                <span class="lighting"></span>
            </div>

            <button type="submit" id="login">Login</button>
        </form>
    </div>
    <div class="signup-wrapper text-center">
        <a href="/auth/registration">Don't have an accout? <span class="text-primary">Create One</span></a>
    </div>
</div>

<script th:href="@{/resources/js/script.js}"></script>
<script th:href="@{/resources/js/jquery-3.3.1.min.js}"></script>
<script th:href="@{/resources/js/jquery.validate.min.js}"></script>

</body>
</html>
