<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>Login</title>
    <link rel="shortcut icon" th:href="@{/resources/images/logo.png}" type="image/png">

    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/style_login.css}">
</head>
<body>

<div class="logo text-center">
    <br><h1>TESTEROSSA</h1><br>
</div>
<div class="wrapper">
    <div class="inner-warpper text-center">
        <h2 class="title">Sign up</h2>
        <form th:action="@{/auth/send-registration}" th:object="${user}" method="post" id="formvalidate">
            <div class="input-group">
                <input th:field="*{fullName}" class="form-control" name="fullname" id="fullname" type="text" placeholder="full name"/>
                <span class="lighting"></span>
            </div>
            <div class="input-group">
                <input th:field="*{email}" class="form-control" name="username" id="username" type="email" placeholder="e-mail"/>
                <span class="lighting"></span>
            </div>
            <div class="input-group">
                <input th:field="*{password}" class="form-control" name="password" id="password" type="password" placeholder="****"/>
                <span class="lighting"></span>
            </div>

            <button type="submit" id="login">Send request</button>
        </form>
    </div>
    <div class="signup-wrapper text-center">
        <a href="/auth/login">Already have an account? <span class="text-primary">Sign in</span></a>
    </div>
</div>

<script th:href="@{/resources/js/script.js}"></script>
<script th:href="@{/resources/js/jquery-3.3.1.min.js}"></script>
<script th:href="@{/resources/js/jquery.validate.min.js}"></script>

</body>
</html>
