<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/bootstrap.min.css}">
    <!-- Style -->
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/style.css}">

    <link rel="shortcut icon" th:href="@{/resources/images/logo.png}" type="image/png">
    <title>Update transaction</title>
</head>

<body>
<div class="content">

    <div class="container">
        <div class="container">
            <div class="container">
                <div class="row">
                    <div class="col-sm">
                        <form action="/auth/logout" method="POST">
                            <button type="submit">Logout</button>
                        </form>
                    </div>
                    <div class="col-sm">
                        <form>
                            <input type="button" value="Go back!" onclick="history.back()" class="right">
                        </form>
                    </div>
                </div>
            </div>

            <h2>Update transaction:</h2>
            <hr>
            <br>


            <div class="custom-form col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
                <div class="card h-100">
                    <div class="card-body">

                        <form action="#" th:action="@{/transaction-update}" th:object="${transaction}" method="post"
                              class="table custom-table">

                            <div class="row gutters">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                    <h6 class="form-title mb-2 text-primary">Personal Details</h6>
                                    <label for="id"> ID:</label>
                                    <input readonly type="number" th:field="*{transactionId}" id="id" size="5">
                                </div>

                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                    <div class="form-group">
                                        <label for="account">Account id</label>
                                        <input th:field="*{account}" type="number" class="form-control" id="account"
                                               placeholder="Enter account id">
                                    </div>
                                </div>

                            </div>
                            <div class="row gutters">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                    <h6 class="mt-3 mb-2 text-primary">Transaction details</h6>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                    <div class="form-group">
                                        <label for="amount">Amount</label>
                                        <input th:field="*{amount}" type="number" class="form-control" id="amount"
                                               placeholder="Enter amount">
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                    <div class="form-group">
                                        <label for="type">Status</label>
                                        <select th:field="*{type}" class="form-control" id="type">
                                            <option value="CASH_TRANSACTIONS">CASH TRANSACTIONS</option>
                                            <option value="NON_CASH_TRANSACTIONS">NON CASH TRANSACTIONS</option>
                                            <option value="CREDIT_TRANSACTIONS">CREDIT TRANSACTIONS</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                    <div class="form-group">
                                        <label for="dateTime">Date time</label>
                                        <input th:field="*{dateTime}" type="datetime-local" class="form-control"
                                               id="dateTime">
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                    <div class="form-group">
                                        <label for="status">Status</label>
                                        <select th:field="*{status}" class="form-control" id="status">
                                            <option value="INVALID_OR_INCOMPLETE">INVALID OR INCOMPLETE</option>
                                            <option value="CANCELLED_BY_CUSTOMER">CANCELLED BY CUSTOMER</option>
                                            <option value="AUTHORISATION_DECLINED">AUTHORISATION DECLINED</option>
                                            <option value="WAITING_FOR_CLIENT_PAYMENT">WAITING FOR CLIENT PAYMENT</option>
                                            <option value="AUTHORISED_WAITING_EXTERNAL_RESULT">AUTHORISED WAITING EXTERNAL RESULT</option>
                                            <option value="AUTHORISATION_WAITING">AUTHORISATION WAITING</option>
                                            <option value="AUTHORISATION_NOT_KNOWN">AUTHORISATION NOT KNOWN</option>
                                            <option value="PAYMENT_DELETED">PAYMENT DELETED</option>
                                            <option value="REFUND">REFUND</option>
                                            <option value="BEING_PROCESSED">BEING PROCESSED</option>
                                            <option value="PAYMENT_REFUSED">PAYMENT REFUSED</option>
                                            <option value="PAYMENT_PROCESSING">PAYMENT PROCESSING</option>
                                            <option value="PAYMENT_REQUESTED">PAYMENT_REQUESTED</option>
                                            <option value="REFUND_DECLINED_BY_ACQUIRER">REFUND DECLINED BY ACQUIRER</option>
                                            <option value="PAYMENT_PROCESSED_BY_MERCHANT">PAYMENT PROCESSED BY MERCHANT</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-4">
                                    <div class="form-group">
                                        <div th:object="${timer}">
                                            <label for="delay">Delay</label>
                                            <input th:field="*{delay}" type="number" class="form-control"
                                                   id="delay">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-4">
                                    <div class="form-group">
                                        <div th:object="${timer}">
                                            <label for="timeUnit">Time unit</label>
                                            <select th:field="*{timeUnit}" class="form-control" id="timeUnit">
                                                <option value="MILLISECOND">Millisecond</option>
                                                <option value="SECOND">Second</option>
                                                <option value="MINUTE">Minute</option>
                                                <option value="HOUR">Hour</option>
                                                <option value="DAY">Day</option>
                                                <option value="WEEK">WEEK</option>
                                                <option value="MONTH">Month</option>
                                                <option value="YEAR">Year</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-4">
                                </div>

                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                    <div class="form-group">
                                        <div th:object="${timer}">
                                            <label for="timer">Timer</label>
                                            <input th:field="*{time}" type="time" class="form-control" step="1"
                                                   id="timer">
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                    <div class="row gutters">
                                        <br><br><br><br>
                                        <div class="text-lg-center">
                                            <input type="submit" value="Update">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <script th:href="@{/resources/js/jquery-3.3.1.min.js}"></script>
    <script th:href="@{/resources/js/bootstrap.min.js}"></script>
</body>
</html>